.tabs {
  flex-basis: 100%;
  margin-top: 4rem;
}
.tabs .tab-content { display: none; }
#feed:checked ~ .tabs .tab-content:nth-child(1),
#trending:checked ~ .tabs .tab-content:nth-child(2),
#direct:checked ~ .tabs .tab-content:nth-child(3),
#chat:checked ~ .tabs .tab-content:nth-child(4),
#settings:checked ~ .tabs .tab-content:nth-child(5) { display: block; }

input[type="radio"].tab {
  clip: rect(0, 0, 0, 0);
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.tab + label {
  background-color: var(--bgcolor-textinput);
  border: none;
  color: var(--color);
  display: inline-block;
  margin-left: var(--gap);
  margin-top: var(--gap);
  outline: 2px solid var(--bgcolor-accent);
  padding: 1rem 1.5em;
  position: relative;
  top: 1px;
  z-index: 11;
}
input[type="radio"]:checked + label {
  background: var(--bgcolor-accent);
}

.tab:focus + label,
.tab:active + label {
  border-color: var(--focus-border-color);
  border-radius: var(--focus-border-radius);
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

.tab-content {
  max-width: 96ch;
  min-height: 200px;
  padding: calc(.5 * var(--gap)) 0 100px 0;
}
.tabbed {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
}
@media (orientation: portrait) {
  .tabbed {
    align-items: start;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: start;
  }
  .tabs {
    height: 100vh;
    height: 100dvh;
    margin-top: 0;
    order: 1;
    overflow: scroll;
    width: 100vw;
  }
  .tab + label {
    margin-top: calc(-3 * var(--gap));
    margin-left: var(--gap);
    order: 2;
  }
  .cards {

  }
}